nav.nav-drawer {
  position: fixed;
  margin: 0;
  top: 1em;
  left: 1em;
  z-index: 1;
}

.ant-btn,
.ant-btn-secondary {
  width: 5em;
  height: 5em;
  border: 0;
  background-color: black;
  color: #d9d9d9;
  cursor: pointer;
}

.ant-btn:focus,
.ant-btn:focus-within,
.ant-btn:active {
  outline: 5px solid #effb31;
}

.ant-btn svg {
  font-size: 3rem;
}

/*  
DRAWER STYLES 
*/

.ant-drawer {
  position: fixed;
  z-index: 1000;
  width: 0%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s,
    width 0s ease 0.3s, -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.ant-drawer > * {
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1),
    box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%;
}

.ant-drawer-content {
  position: relative;
  z-index: 1;
  overflow: auto;
  background-color: #2f3336;
  background-clip: padding-box;
  border: 0;
}

.ant-drawer-left {
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
}

.ant-drawer-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #1b19198a;
  opacity: 0;
  filter: alpha(opacity=45);
  transition: opacity 0.3s linear, height 0s ease 0.3s;
}

.ant-drawer-content-wrapper {
  position: absolute;
}

.ant-drawer-left .ant-drawer-content-wrapper {
  left: 0;
  height: 100%;
}

/* 

_______open drawer styles below________

*/

.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 6px 0 16px -8px rgba(0, 0, 0, 0.08),
    9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03);
}

.ant-drawer-open.ant-drawer-content-wrapper {
  width: 265px;
}

@media screen and (max-width: 630px) {
  .ant-drawer-open > .ant-drawer-content-wrapper {
    width: 75vw;
  }
}

@media screen and (max-width: 400px) {
  .ant-drawer-open > .ant-drawer-content-wrapper {
    width: 100vw;
  }
}

/* MASK */
.ant-drawer.ant-drawer-open .ant-drawer-mask {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transition: none;
  animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

@keyframes antDrawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* DRAWER HEADER */

.ant-drawer-header {
  display: flex;
  justify-content: space-between;
}

button.ant-drawer-close {
  border: 0;
  cursor: pointer;
  padding-bottom: 0;
  background-color: transparent;
}

.anticon svg {
  fill: #d9d9d9;
  font-size: 2em;
}

.anticon svg:hover {
  fill: #effb31;
}

/* 

TUTORIAL DROPDOWN

*/

.tutorial-dropdown > li:last-of-type {
  margin: 0;
  padding-bottom: 0.5rem;
}

.tutorial-dropdown,
.ant-drawer-body > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tutorial-dropdown > li.dropdown-nav-item {
  display: flex;
  align-items: center;
  padding-left: 44px;
}

.tutorial-dropdown > li.dropdown-nav-item,
li.dropdown-nav-item svg {
  color: #d9d9d9;
  fill: #d9d9d9;
}

.tutorial-dropdown > li.dropdown-nav-item > a {
  font-size: 0.75em;
  color: inherit;
  padding: 8px;
}

.dropdown,
li.nav-item {
  letter-spacing: 0.5px;
  padding: 10px;
  margin: 0;
  padding-left: 16px;
}

.dropdown,
.tutorial-dropdown,
.ant-drawer-body > ul > li.nav-item a {
  color: #d9d9d9;
  width: 100%;
  display: block;
}

.dropdown {
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-btn {
  border-bottom: 0.5px solid #d9d9d9;
}

.dropdown svg {
  fill: #d9d9d9;
  cursor: pointer;
}

.dropdown:focus,
.nav-item:hover,
.nav-item:focus,
.nav-item:focus-within,
.nav-item > a:focus,
.nav-item > a:hover,
.nav-item:hover > a {
  background-color: #3f4448;
  color: ghostwhite;
  outline: none;
  text-decoration: none;
}

li.nav-item:hover,
li.nav-item:focus,
li.nav-item:focus-within {
  border-left: 2px solid #effb31;
  padding-left: 14px;
}

li.dropdown-nav-item:hover,
li.dropdown-nav-item:active,
li.dropdown-nav-item:focus-within {
  border-left: 2px solid #54eeff;
  padding-left: 42px;
  color: #54eeff;
  /* fill: #54eeff; */
}

li.dropdown-nav-item:hover > a,
li.dropdown-nav-item:active > svg,
li.dropdown-nav-item:focus > svg,
li.dropdown-nav-item:focus-within > svg,
li.dropdown-nav-item:hover > svg {
  text-decoration: none;
  color: #54eeff;
  fill: #54eeff;
}

li.dropdown-nav-item:hover,
li.dropdown-nav-item > a:hover,
li.dropdown-nav-item > svg:hover,
li.dropdown-nav-item:focus,
li.dropdown-nav-item:focus-within,
li.dropdown-nav-item > a:focus {
  background-color: #47444a;
  outline: none;
}

li:nth-of-type(4) {
  margin: 0;
}

.hidden {
  display: none;
}

/* 

RESOURCES SUB NAVIGATION

*/

li.sub-nav:hover,
li.sub-nav:focus,
li.sub-nav:focus-within {
  border: 0;
  padding-left: 16px;
}

.ant-drawer-body > ul > li.sub-nav,
.ant-drawer-header {
  padding: 12px;
  font-weight: bold;
  background-color: #3f4448;
  color: #effb31;
  border-top: 1px solid #d9d9d9;
}

.ant-drawer-body > ul > li.sub-nav {
  font-weight: normal;
}

.ant-drawer-body > ul > li.sub-nav-item {
  font-size: calc(3px + 2vmin);
  padding: 8px;
  padding-left: 24px;
}

.ant-drawer-body > ul > li.sub-nav-item:hover,
.ant-drawer-body > ul > li.sub-nav-item:focus,
.ant-drawer-body > ul > li.sub-nav-item:focus-within {
  padding-left: 22px;
}
