@font-face {
  font-family: "neon_tubes_2regular";
  src: url("./assets/neontubes2-webfont.woff2") format("woff2"),
    url("./assets/neontubes2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-size: calc(6px + 2vmin);
  color: #d9d9d9;
}

.App {
  margin-bottom: 5rem;
  overflow: scroll;
}

header {
  margin-top: 5rem;
}

s {
  padding: 0 0.25em;
}

.twitter-handles {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2em;
}

.twitter-img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
}

.tabs {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  transform: translateY(100%);
  letter-spacing: 5px;
  font-family: "neon_tubes_2regular";
  color: #ffd5ff;
  text-align: center;
  font-size: 2.5rem;
  padding: 0 1rem;
  text-shadow: 1px 0px 2px #ffd5ff, 2px 0px 2px #ffd5ff, 3px 0px 2px #ffd5ff,
    2px 0px 2px #d42cca, 2px 2px 15px #d42cca, 2px 0px 15px, 5px 0px 100px,
    20px 0vw 20px #d42cca, 30px 0vw 200px #d42cca;
}

@media (max-width: 862px) {
  .tabs {
    flex-direction: column;
    transform: translateY(50%);
  }
}

.neon-divider {
  box-shadow: 0 0 1px #54eeff, 0 0 2px #54eeff, 0 0 6px #54eeff,
    0 0 12px #54eeff, inset 0 0 1px #54eeff, inset 0 0 2px #54eeff,
    inset 0 0 6px #54eeff, inset 0 0 12px #54eeff;
  border: 4px solid #c2f2f7;
  border-radius: 6px;
  width: 90%;
  margin: 5em auto;
}

main {
  margin-left: 3em;
}

ol {
  line-height: 1.5em;
}

h1 {
  letter-spacing: 5px;
  font-family: "neon_tubes_2regular";
  color: #ffd5ff;
  text-align: center;
  font-size: 2.5rem;
  padding: 0 1rem;
  text-shadow: 1px 0px 2px #ffd5ff, 2px 0px 2px #ffd5ff, 3px 0px 2px #ffd5ff,
    2px 0px 2px #d42cca, 2px 2px 15px #d42cca, 2px 0px 15px, 5px 0px 100px,
    20px 0vw 20px #d42cca, 30px 0vw 200px #d42cca;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

@media (min-width: 1000px) {
  h1 {
    padding: 0 3rem;
  }
  main {
    margin: 0 3rem;
  }
}

section {
  padding: 0.75rem;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid #2f3336;
  margin: 0 1rem 0 2rem;
}

li {
  margin-bottom: 0.5rem;
}

p {
  line-height: 2.5rem;
}

h2 {
  font-weight: normal;
  text-align: center;
}

h3 {
  color: #effb31;
  font-weight: normal;
  display: flex;
  align-items: center;
}

h3 > svg {
  align-self: center;
  padding-right: 12px;
}

h4 {
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
  width: fit-content;
  /* border: 2px solid #d9d9d9; */
}

a {
  color: #c06add;
  text-decoration: none;
}

a:hover {
  color: #d281ce;
  text-decoration: underline;
}

.code-block,
code {
  background-color: #2f3336;
  color: #54eeff;
  padding: 0 0.5rem;
}

.code-block {
  padding-left: 0.5rem;
  width: fit-content;
  margin: 0 auto;
}

img {
  width: 100%;
}

h5 {
  text-align: center;
}

#endpoint-sandbox {
  display: flex;
  flex-direction: column;
}

#endpoint-sandbox h4 {
  margin: 0;
  text-align: left;
}

.json-block {
  height: 500px;
  overflow: scroll;
  background-color: ghostwhite;
}

.gif {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

Documentation styles below

*/
.endpoints > h3 {
  margin-bottom: 0;
}

.endpoints > p {
  margin-top: 0;
}

.endpoints-list > li {
  list-style-type: none;
  border-bottom: 1px solid #2f3336;
  padding: 12px 12px;
  margin: 0;
}

.endpoints-list > li > p {
  margin: 0;
  display: inline;
  margin-left: 16px;
}

.endpoints-list > li:hover {
  background-color: #202224;
  border-left: 3px solid #effb31;
  padding-left: 10px;
}

.bold {
  font-weight: bold;
  color: #d42cca;
}

@media (max-width: 600px) {
  main {
    margin: 0;
  }
  section {
    margin: 0;
  }
}
